*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 40px;
    padding: 5px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
    cursor: pointer;
}

.logo{
    background-image:url("amazon-logo.jpg") ;
}

.pad{
    padding:0.3rem;
}

.border:hover{
    border: 1px solid rgba(255, 255, 255, 0.404);
}

.add-first{
    color:#cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}


.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    cursor: pointer;
}


.nav-search{
    display: flex;
    width: 630px;
    height:40px ;
    border-radius: 3px;
    justify-content: center;
    cursor: pointer;
}

.search-select{
    background-color: #e4e2e2;
    width: 100px;
    text-align: center;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search-input:active{
    border:none;
}

.search-input{
    width: 500px;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    color:#0f1111;
    background-color: #febd68;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

span{
    font-size: 0.8rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-search:hover{

    border: 2px solid orange;
}

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size:0.8 rem ;
    font-weight: 700;
    
}

.panel{
    display: flex;
    height:35px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 5px;
    
}
.panel-ops{
    width: 70%;
    font-size: 0.8rem;
}
.panel-ops-text{
    padding:12px;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 750;
    padding: 12px;
}

.hero-section{
    background-image: url("hero-image1.jpg");
    height:250px;
    background-size: cover;
    position: relative;
}
.heros {
    display: none;
  }

.box{
    margin-top: 1rem;
    height:350px;
    width:20%;
    padding: 20px;
    background-color: white;
}

.shop-sec{

    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box-img{
    
    height:300px;
}

.foot-panel1{
    margin-top:1rem;
    background-color: #37475a;
    color: white;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

#myBtn{
  width: 100%;
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:#37475a; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer;  
  padding: 15px; /* Some padding */
  border-radius: 1px; /* Rounded corners */
  font-size: 13px; 
}
#myBtn:hover{
    background-color: #475b72;
}

.foot-panel2{
    background-color: #222f3d;
    color:white;
    height:300px;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    margin-top:0.5rem;
    font-size: 0.8rem;
    color:#DDDDDD;
    text-decoration: none;
    
}

ul a:hover{
    text-decoration: underline;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 1px solid #DDDDDD;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo{
    background-image: url("amazon_logo.png");
    color:white;
    background-size: cover;
    height: 50px;
    width: 100px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #37475a;
}

